body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
}

#keyStatus {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    padding: 16px; 
    background-color: rgba(0, 0, 0, 0.66);
    font-family: Arial, sans-serif; 
    font-weight: bold;
    border-radius: 6px; /* Add rounded corners to the div */
    font-size: 14.2px; 
    line-height: 1.72; 
    width: 300px; 
}